In [ ]:
#Python Dictionaries

In [4]:
#print a dictionary:

a = {
    'Name' : 'Zahid',
    'Semester' : 'Ninth',
    'id' : 21190101083,
    'Date of Birth' : '17 Dec 1996'
}

dict

In [12]:
a = {
    'Name' : 'Zahid',
    'Semester' : 'Ninth',
    'id' : 21190101083,
    'Date of Birth' : '17 Dec 1996'
}


type(a)
len(a) 


#Access
a.values()
a.keys()
a.get('Name')
a['Semester']

4

In [13]:
a = {
    'Name' : 'Zahid',
    'Semester' : 'Ninth',
    'id' : 21190101083,
    'Date of Birth' : '17 Dec 1996'
}

#update
#add
#insert

a['Name'] = 'Zahid Hasan Milu'
a.update({ 
    'Present Address' : 'Dhaka' , 
    'Permanent Address' : 'Dinajpur'
    })


a

{'Name': 'Zahid Hasan Milu',
 'Semester': 'Ninth',
 'id': 21190101083,
 'Date of Birth': '17 Dec 1996',
 'Present Address': 'Dhaka',
 'Permanent Address': 'Dinajpur'}

In [33]:
a = {'Name': 'Zahid Hasan Milu',
    'Semester': 'Ninth',
    'Id': 21190101083,
    'Date of Birth': '17 Dec 1996',
    'Present Address': 'Dhaka',
    'Permanent Address': 'Dinajpur'
    }

#remove
#pop
#del
del a['Id']
a.popitem()
a.pop('Permanent Address')

#Element change
a['Present Address'] = 'Fulbari, Dinajpur'

a

{'Name': 'Zahid Hasan Milu',
 'Semester': 'Ninth',
 'Date of Birth': '17 Dec 1996',
 'Present Address': 'Dhaka'}