In [ ]:
#Sets cannot have two items with the same value
#create set
#set length/count
#appned - add,update
#del,remove,clear,pop
#union
#intersection
#difference

In [1]:
a = {"apple", "banana", "cherry"}
a

{'apple', 'banana', 'cherry'}

In [15]:
#Sets cannot have two items with the same value
a = {1, 2, 3, 4, 6, 5, 5}
b = {"orange", "banana", "mango"}
c = {True, False, False}

a, b, c, type(a),type(b),type(c)

"orange" in b

True

In [26]:
a = {1, 2, 3, 4, 6, 5, 5}
b = {"orange", "banana", "mango"}


a.add(89)

#Add elements a tropical into b :
a.update(b)

#if we need to update list in tuple
c = [16, 7, 5, 95, 27]
a.update(c)
a

#remove,pop,discard,del,clear
a.remove('banana')
a
#If the item to remove does not exist, discard() will NOT raise an error.
a.discard('mango')
a
a.pop()
a

{16, 2, 27, 3, 4, 5, 6, 7, 89, 95, 'orange'}

In [35]:
#union
a = {1, 2, 3, 4, 6, 5, 5}
b = {5,6,7,8,2,17}

a.union(b)
b.union(a)

#intersection
a.intersection(b)
b.intersection(a)

#difference
a.difference(b)
b.difference(a)

{7, 8, 17}